* {
    color: white;
    background-color: black;
    font-family: 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 48px;
    margin-bottom: 5vh;
}
header {
    height: 20vh;
}
 h3 {
     padding: 3vh;
     font-size: 5vh;
     font-weight: 300;
 }

.inst-p {
    color: rgb(106, 159, 0);
    font-size: 4vh;
    font-weight: 300;
    margin-bottom: 7vh;
    width: 70%;
    text-align: left;
    margin-left: 13vh;
}

.all-btn {
    display: inline-block;
    
    border-radius: 2em;
    border: none;
    padding: 0.3em 1.2em;
    margin: 0.1em;
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    background-color:  rgb(109, 60, 133);
    transition: all 0.2s;
    
}
.all-btn:hover {
    border: 0.16em solid rgba(255,255,255,1);
}

.highscore-p:hover {

    opacity: 50%;
}
.highscore-container {
    top: 15vh;
    width: 40%;
    margin-left: 3vh;
    padding: 10vh;
    z-index: 100;
    background-color: rgb(47, 26, 58);
    opacity: 75%;
    border-radius: 35%;
    text-align: center;
}
.highscore-p {
    background-color: none;
    padding: 3vh;
}
.highscore-ol {
    margin-bottom: 3vh;
}
.highscore-h2 {
    border-radius: 35%;
    margin-bottom: 3vh;
    padding: 7vh;
    font-size: 4vh;
    background-color: rgb(47, 26, 58);
}

.question {
    padding: 2vh;
    font-size: 3em;
    font-weight: 300;
}

.question-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2vhS;

}
.choice-btn {
    text-align: left;
    align-self: left;
    display: inline-block;
    border-radius: 2em;
    border: none;
    padding: 0.3em 1.2em;
    margin: 0.1em;
    font-weight: 300;
    font-size: 2em;
    background-color:  rgb(109, 60, 133);
    transition: all 0.2s;
}
.choice-btn:hover {
    border: 0.16em solid rgba(255,255,255,1);
}
.result-p{
    text-align: right;
    margin-right: 2vh;
}
.quiz-timer {
    font-size:9vh;
    text-align: right;
    padding-right: 4vh;
    color: rgba(159, 69, 0, 0.742);

}
.game-over-p {
    font-size:25vh;
    text-align: center;
    color: rgba(38, 36, 37, 0.742);
}

.fade {
    opacity: 10%;
}
.unfade {
    opacity: 100%;
}
.quiz-container-div {
    padding-left: 2vh;
} 

.form-label{
    font-size: 1.75em;
    font-weight: 300;
    display: inline;
    padding-left: 1.25em;
}
.form-input {
    padding: .75em;
    margin: 2em;
}

.form-btn {
    text-align: left;
    align-self: left;
    display: inline;
    border-radius: 2em;
    border: none;
    padding: 0.1em .75em;
    margin: 0.25em;
    font-weight: 300;
    background-color:  rgb(109, 60, 133);
    transition: all 0.2s;
}
.form-btn:hover {
    border: 0.16em solid rgba(255,255,255,1);
}
  /* MEDIA QUERY FOR larger screens */
  @media screen and (min-width: 600px) {

    .choice-btn {
        align-self: center;
    }
    .highscore-container{
        margin-left: 8vh;
    }
    .inst-p {
        font-size: 7vh;
    }


  }